.inicio {
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 180px;
    margin-bottom: 300px;
}

@media (max-width: 700px) {
    .inicio {
        flex-direction: column;
    }
    .imagem-logo {
        display: none;
    }

    .conteudo-inicio{
        display: flex;
        flex-direction: column;
        
    }
    .inicio h1 {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 701px) {
    .inicio {
        margin-top: 300px;
    }
}


.logos .logo {
    padding-left: 20px;
}

.logo {
    font-size: 45px;
    color: blue;
}

.logo:hover {
    transform: scale(1.3);
}


.imagem-logo {
    width: 100%;
    height: 200px;
}

.inicio h1 {
    font-size: 70px;
    color: white;
}

.inicio h2 {
    border-right: 4px solid rgb(255, 249, 249);
    color: aqua;
    width: 17ch;
    white-space: nowrap;
    animation: escrever 9s , piscar 1s  infinite 9s;
    overflow: hidden;
}

@keyframes escrever {
    from {
        width: 0ch;
    }

    to {
        width: 17ch;
    }
}

@keyframes piscar {
    50% {
        border-color: transparent;
    }
}


