*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "monospace" sans-serif ;
}

/*.inicio-wendel {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    width: 100px;
}*/

.loading-app-principal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.loading-imagem-principal {
   font-size: 100px;
   animation-name: loader;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

.nome-loading {
    font-size: 90px;
}

.loading-app-principal p {
    margin-top: 40px;
    font-size: 20px;
}

.loading-app-principal h4 {
    margin-top: 35px;
    font-size: 30px;
    margin-left: 4px;
    animation: piscando 3s infinite;
}

@keyframes piscando {
    0% {color: black;}
    50% {color: transparent;}
    100% {color: black;}
}

@keyframes loading {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}